body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}
/* ------------------------------HEADER AND FOOTER_LOGO-------------------------*/
.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.footer-logo .footer-logo-part{
    color: #f4f4fd;
} 

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}

/* ------------------------------NAVIGATION-------------------------*/

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav{
    display: flex;
    align-items: center;

}

.header-container{
   display: flex;
   align-items: center;

}

.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;

}



.nav-link::after{
content: '';

position: absolute;
left: 0;
bottom: -1px;


width: 100%;
height: 4px;
border-radius: 2px;

background-color: #404bbf;

opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after{
    opacity: 1;
    
}



.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link{
    position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current{
    color: #404bbf;
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.contacts-link{
    display: block;
    padding: 24px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------MAIN-------------------------*/

.main-order{
    padding: 188px 0;
    background-color: #2e2f42;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg-main.jpg');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.main-order-title{
    max-width: 496px;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
}

.main-team-img{
    background-color: #fff;
}



.order-button{
    display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 169px;
  height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            background-color: #4d5ae5;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.order-button{ 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus{
    background-color: #404bbf;
}


/* ------------------------------OUR FEATURES-------------------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.features-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
}

.main-features-title{
    margin-bottom: 8px;
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-align: left;
            color: #2e2f42;
}

.main-features-text{
    max-width: 264px;                    
    font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: left;
            color: #434455;
}

.main-features{
    padding: 120px 0;
}

.main-features-list{
    display: flex;
    gap: 24px;
}

.main-features-item{
    width: calc((100% - 72px) /4);
}
/* ------------------------------OUR TEAM-------------------------*/

.main-team{
    padding: 120px 0;
    background-color: #f4f4fd;
    }


.main-team-title{
    max-width: 162px;
    padding-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
                font-weight: 700;
                font-size: 36px;
                line-height: 1.11111;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
}

.main-team-list{
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;

}

.socialsmedia-list{
        display: flex;
        justify-content: center;
        margin-top: 12px;
        gap: 24px;
    }

.socialsmedia-link{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .socialsmedia-link:hover,
.socialsmedia-link:focus{
  background-color: #404bbf;
}

    .instagram-icon{
        fill: #F4F4FD;
    }
    .linkedin-icon{
        fill: #F4F4FD;
    }
    .twitter-icon{
        fill: #F4F4FD;
    }  
    .facebook-icon{
        fill: #F4F4FD;
    }          

.main-team-img-title{
    display: block;
    align-items: center;
    max-width: 232px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.main-team-img-text{
        display: block;
        align-items: center;
        max-width: 232px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;

}

.main-team-card{
    padding: 32px 16px;
    text-align: center;
}

.main-team-img{
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;

    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);

    overflow: hidden;
}

/* ------------------------------PORTFOLIO-------------------------*/

.main-portfolio{
    padding: 120px 0;
    background-color: #fff;
}

.portfolio-overlay{
    position: absolute;
    top: 0;
left: 0;
width: 100%;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #4d5ae5;
padding: 40px 32px;
height:  100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-portfolio-item:hover{
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.main-portfolio-item:hover .portfolio-overlay{
    transform: translateY(0);
}

.portfolio-thumb{
    position: relative;
    overflow: hidden;
}

.main-portfolio-title{
    padding-bottom: 72px;
    max-width: 218px;
    margin-left: auto;
    margin-right: auto;   
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11111;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
}

.main-portfolio-img-title{
    display: block;
    margin-bottom: 8px;
    max-width: 232px;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
}

.main-portfolio-img-text{
    display: block;
    max-width: 232px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
}

.main-portfolio-list{
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}

.main-portfolio-item{
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio-card{
    padding: 32px 16px;
    border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        border-bottom: 1px solid #e7e9fc;

}

/* ------------------------------FOOTER-------------------------*/

.page-footer{
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container{
    display: flex;
    align-items: baseline;
    gap: 120px;
}

.logo-wrapper{
    max-width: 264px;
}

.footer-logo{
    display: inline-block;
        margin-bottom: 16px;
}

.footer-socials-title{
    margin-bottom: 16px;
        font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}

.footer-socials-link{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.footer-socials-link:hover,
.footer-socials-link:focus{
    background-color: #31D0AA;
}

.footer-socials-list{
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-socials{
     display: flex;
  flex-direction: column;
}


.footer-text{
    max-width: 264px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#f4f4fd;
}

